@using EmeraldBot.Model.Servers

<h2>@Server.Name</h2>
<p>ID: @Server.ID  / DiscordID: @Server.DiscordID</p>

<EmeraldBot.Blazor.Pages.Characters.List ServerID="@Server.ID" />

@code {
    [Parameter] Server Server { get; set; }
}