<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="EmeraldBotContext" connectionString="Server=tcp:emeraldbot.database.windows.net,1433;Initial Catalog=Rokugan;Persist Security Info=False;User ID={Login};Password={Password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmeraldBotContext" connectionString="Data Source=DESKTOP-GDL9OB1;Initial Catalog=Rokugan;Persist Security Info=True;User ID={Login};Password={Password};MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>